header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}
section {
  padding: 150px 0;
}
.instituto{
	height: 200px;
	background-color: #137503;
}
#logo{
	margin-top: -85px;
}
div.dataTables_filter{text-align:right;}
th{
	text-align: center;
}
td{
	text-align: center;
}
.table-striped > tbody > tr:nth-child(2n+1){
   background-color: #98FB98;
}

.page-header,
.txt-dir-geral,
.resolve{
    text-transform: uppercase;
}

.page-header{
    text-align: center;
    font-size: 24px;
}

.label-objetivo,
.label-portaria,
.label-texto,
.data-ini-fim,
.label-dir-ger,
.label-portaria-ativa{
    margin-top: 50px;
}

.label-objetivo,
.label-portaria{
    font-weight: bolder;
}

.label-texto,
.resolve{
    text-indent: 6em;
}

.contrato,
.portaria-anterior,
.label-portaria-ativa{
    cursor: pointer;
    font-weight: bolder;
}

.artigo{
    height: 200px;
}

.select-dir{
    margin-top: -40px;
    margin-left: 110px;
}